.countries-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

.countries-list__item {
  position: relative;
  margin-left: 40px;
}

.countries-list__link {
  text-decoration: none;
  color: inherit;
  &::after {
    position: absolute;
    content: '';
    top: 10px;
    left: -20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #212121;
  }
}

.countries-list__name {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0px;
}
