{{!-- {{#each this}} <li class="menu__item">
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <p>{{name}}</p>
    </a>
</li> {{/each}} --}}

<li class="countries-list__item">
    <a href="https://restcountries.eu/rest/v2/name/{{name}}" class="countries-list__link" target="_blank" rel="noopener noreferrer">
        <p class="countries-list__name">{{name}}</p>
    </a>
</li>