@mixin center-flex($type: 'all') {
  display: flex;
  flex-wrap: wrap;

  @if $type=='all' {
    justify-content: center;
    align-items: center;
  }

  @else if $type=='col' {
    flex-direction: column;
  }

  @else if $type=='col-ver' {
    flex-direction: column;
    align-items: center;
  }

  @else if $type=='row' {
    flex-direction: row;
  }

  @else if $type=='hor' {
    justify-content: center;
  }

  @else if $type=='ver' {
    flex-direction: row;
    align-items: center;
  }

  @else if $type=='spbtw' {
    flex-direction: row;
    justify-content: space-between;
  }
}

// @include center-flex('spbtw');


@mixin pseudo($display: inline-block, $content: '') {
  display: $display;
  content: $content;
}

// @include pseudo(inline-block, '\2107');
// @include pseudo($display: block);


@mixin absolute-tl($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

// @include absolute-tl(absolute, 2px, -2px);


@mixin absolute-tr($position, $top, $right) {
  position: $position;
  top: $top;
  right: $right;
}

// @include absolute-tr(absolute, 2px, -2px);


@mixin font-family-settings($family, $weight, $color) {
  font-family: $family;
  font-weight: $weight;
  color: $color;
}

// @include font-family-settings('Montserrat', bold,  #111517);


@mixin font-settings($size, $height, $letter-spacing) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter-spacing;
}

// @include font-settings($primary-text-size, 1.6, 1.2px);


@mixin font-colors($size, $color) {
  font-size: $size;
  color: $color;
}

// @include font-colors(50px, green);


@mixin font-height($size, $height) {
  font-size: $size;
  line-height: $height;
}

// @include font-height($primary-text-size, 1.6);


@mixin line-letter($height, $letter-spacing) {
  line-height: $height;
  letter-spacing: $letter-spacing;
}

// @include line-letter(1.6, 1.1px);


@mixin width-percent($width-elem, $width-cont) {
  width: $width-elem / $width-cont * 100%;
}

// @include width-percent(493px, 1210px);
// width: 300px / 960px * 100%;


@mixin height-percent($height-elem, $height-cont) {
  height: $height-elem / $height-cont * 100%;
}

// @include height-percent(644px, 1210px);
// height: 300px / 960px * 100%;


@mixin bgr-image($path, $size, $repeat) {
  background-image: url($path);
  background-size: $size;
  background-repeat: $repeat;
  // background-position: center; ($pos)
}

// @include bgr-image('../../images/bgr-01.png', contain, no-repeat, center);


// Mixins for Media Queries
// Small devices
@mixin mobile {
  @media (min-width: #{$screen-mob}) {
    @content;
  }
}

// Medium devices
@mixin tablet {
  @media (min-width: #{$screen-tabl}) {
    @content;
  }
}

// Large devices
@mixin desktop {
  @media (min-width: #{$screen-desk}) {
    @content;
  }
}

// Extra large devices
@mixin desktop-wide {
  @media (min-width: #{$screen-desk-wide}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
