.button {
  display: block;
  min-width: 140px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #604805;
  text-transform: uppercase;
  border: 2px solid #604805;
  border-radius: 10px;
  background-color: #faf0b8;
  padding: 10px 10px;
  cursor: pointer;
  margin-bottom: 10px;

  &--load{
    margin-bottom: 50px;
  }
  
  &--search{
    margin-right: 20px;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 1px 7px 3px #604805;
    transition: all 0.2s linear;
  }
}