.clear-button {
  display: block;
  max-width: 145px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 78, 80);
  font-weight: 700;
  border: 2px solid rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(248, 229, 229);
  padding: 10px 50px;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 7px 3px rgb(255, 78, 80);
    transition: all 0.2s linear;
  }
}